.st-effect-11.st-menu {	visibility: visible; }
#st-trigger-effects button { display:none; }
.header { height:80px; }
#st-trigger-effects button { display:block; }
.col-md-16 { padding:0; }
.header .red_sqr { height:80px; padding-top:8px; padding-bottom:8px; }
.full_container { padding:10px; }
.st-content { __overflow:hidden; }
.tile_opac { border:none; }
