.container { width:96%; }
.col-md-4 { padding:0; }
.header .red_sqr { width:98px; height:66px; }
.cata_title { margin-top:40px; }
.content { margin-top:130px; }
.cards { min-height:350px; }
.video_btn { top:130px; }
